# Игнорируем абсолютно всё в главной папке
*

# Делаем исключение для папки data (чтобы Git зашел внутрь неё)
!data/

# Игнорируем сохранения внутри папки data
data/profiles/

# Разрешаем самому файлу .gitignore сохраняться на GitHub
!.gitignore